<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e3b3">  <td>20/07/01 14:13:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Verify_PSCB.beforeclass()[pri:0, instance:regression.tests.Verify_PSCB@2a2d45ba]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="a6e3b3">  <td>20/07/01 14:13:40</td>   <td>7412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Verify_PSCB.verifyPSCB()[pri:1, instance:regression.tests.Verify_PSCB@2a2d45ba]">verifyPSCB</td> 
  <td>main@395629617</td>   <td></td> </tr>
</table>
