<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercer.com Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3707a">  <td>20/08/17 18:05:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Verify_CompCalc.beforeclass()[pri:0, instance:regression.tests.Verify_CompCalc@74a10858]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="a3707a">  <td>20/08/17 18:05:48</td>   <td>10897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Verify_CompCalc.verifyCompCalc()[pri:0, instance:regression.tests.Verify_CompCalc@74a10858]">verifyCompCalc</td> 
  <td>main@518522822</td>   <td></td> </tr>
</table>
